body {
    background: #111;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

section.title {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url('../images/background.jpg');
    background-size: cover;
    color: #fff;
    text-align: center;
}

    section.title .container {
        float: none;
        margin: auto;
    }

    section.title img {
        display: inline-block;
        vertical-align: middle;
        margin: 0 1em 0 0;
        height: 8em;
    }

    section.title h1 {
        display: inline-block;
        vertical-align: middle;
        font-weight: 200;
        font-size: 3em;
    }


    section.title .info {
        background: rgba(0, 0, 0, 0.5);
        color: #f28b00;
        font-size: 1.3em;
        text-align: center;
        padding: 1em;
    }

        section.title .info a {
            color: #f28b00;
        }

            section.title .info a:active,
            section.title .info a:focus,
            section.title .info a:hover {
                color: #f0c060;
            }


section.people {
    color: #ccc;
}

    section.people > h1 {
        margin: 0.5em 1.5em;
    }

    section.people .container {
        display: flex;
        align-items: stretch;
        flex-wrap: wrap;
    }

.person-container {
    display: flex;
    flex-basis: 33.3%;
}

.person-container > .person > div {
    opacity: 0.7;
}

    .person-container:hover > .person > div {
        opacity: 1;
    }


.person {
    display: flex;
    background: rgba(255,255,255,0.02);
    border-left: 0.2em solid transparent;
    width: 100%;
    margin: 0.5em 2em;
    padding: 1em;
}

    .person:hover {
        border-left: 0.2em solid #f28b00;
    }

        .person:hover h1 {
            color: #f28b00;
        }

    .person .photo {
        float: left;
        margin: 0 1em 0 0;
        max-width: 150px;
        max-height: 200px;
    }

    .person h1 {
        font-weight: 600;
        margin: 0;
    }

    .person h2 {
        font-size: 1.2em;
        font-weight: 400;
        margin: 0;
    }

    .person .icon-container {
        vertical-align: bottom;
        margin: 1em 0 1em -0.5em;
    }

        .person .icon-container a {
            text-decoration: none;
            padding: 0.5em;
        }

    .person .icon {
        height: 1.5em;
        opacity: 0.2;
    }

        .person .icon:hover {
            opacity: 1;
        }


@media all and (max-width:1300px) {
    .person-container {
        flex-basis: 50%;
    }
}

@media all and (max-width:800px) {
    .person-container {
        flex-basis: 100%;
    }
}
